#wall .tag1 {
    display: none;
}

#wall #tag-2 {
    display: none;
}/* write your override styles here */

div #wall #tag-3.slick {
    display: none;
}

#wall #tag-4 {
    display: none;
}

 div body #tag-7.slick li {
    display: none;
}

div#wall .parent #tag-5.slick {
    display: none;
    style: none;

}